<%- include('../partials/head.ejs') %>
    <title>Contact us</title>
    <%- include('../partials/body.ejs') %>
    <div class="navbar23">

        <div class="prelative">
            <%- include('../partials/navbar.ejs', { currentPage: 'about' }) %>
        
        </div>
        <div class="topimage">
            <div class="column-2">
                <p class="leftHead">Who we are </p>
                <p class="leftPara" style="font-size: 16px; line-height: 26px;">Ask Associate is a leading consultancy firm which provides
                    simple yet effective company registration, bookkeeping,
                    payroll services, charity registration, employment agenc
                    registration, work permits, virtual offices, and other
                    accounting services to enterprises in Ireland. Since 2018,
                    we offer a wide range of services to add value and help
                    businesses grow.</p>
             </div>
            <div class="column-2">
                <p class="hometocontact"> About us > Who we are </p>
            </div>
           </div>
        </div>
   
        <div class="aboutcontainer">
            <div class="aboutinner">
                <div class="aboutimagediv">
                    <img class="aboutmainimage" src="/images/aboutimage.png" alt="">
                    <p class="aboutname">Thomas Antony</p>
                    <p class="abouttitle">Founder and CEO</p>

                </div>
                <div class="innerabouttext">
                    <p class="labouttext">With more than 20 years of experience, Thomas Antony is the Founder and CEO of TAx Associate Business Services. Thomas completed his postgraduate degree in commerce, graduate degree in LLB and is currently pursuing his ACCA. He is a member of Institute of Accounting Technicians Ireland. Thomas started his accountancy career in Ireland with McInerney Saundars, a highly reputable Irish accountancy firm in 2005. Through his 12-year tenure at McInerney Saundars, Thomas gained invaluable experience and a passion for the field of accountancy. Thus, in 2018, TAx Associate Business Services was formed, with an aim to deliver professional accounting services at an affordable rate. In 2021, he was appointed as Peace Commissioner by the Minister of Justice, Ireland. <br>
                        Baiju Elias  <br>
                        Manager, Bookkeeping & Payroll <br>
                        Baiju is a qualified accounting technician from Institute of Accounting Technician Ireland and he joined TAx Associate Business Services in 2018. He is well-experienced in all aspects of accounting and payroll processing. <br>
                        Smithin Reynold <br>
                        Manager - Outsourcing <br>
                        Smithin is a qualified management accountant and is currently in charge of the outsourcing business services within the firm. His office is situated in Ernakulam, Kerala. <br>
                        Jacqueline Pooja <br>
                        Accounting Associate <br>
                        Jacqueline has completed her master’s degree in accounting and has vast experience in the accountancy field in Ireland. She joined TAx Associate Business Services in 2021. <br>
                        Jaison P Mammen <br>
                        Accounting Assistant <br>
                        Jaison is currently pursuing his master’s degree in accounting. He joined TAx Associate Business services in 2021 and is working as an accounting assistant.</p>
                        <div class="aboutdivline1">
                        </div>
                        <div class="aboutdivline2">                            
                        </div>
                        <div class="aboutdivline3">
                        </div>
                </div>
             <div class="aboutimgebottom">
                <img class="aboutbottomimgfile" src="/images/aboutboxes.png" alt="">
             </div>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>