<%- include('../partials/head.ejs') %>
<title>Order Company</title>
<%- include('../partials/body.ejs') %>
<div class="navbar23">

    <div class="prelative">
        <%- include('../partials/navbar.ejs', { currentPage: 'ordercompany' }) %>

    
    </div>
    <div class="topimage">

        <div class="column-2">
            <p>Order Company</p>
            <p class="littleheading">Form Your New Company</p>
        </div>
        <div class="column-2">
            <p class="hometocontact"> Home > Order Company </p>
        </div>
    </div>
</div>
    <form action="">
        <div class="companyformocf">

            <div class="c companyocf" >
                <p class="input-labels">Name*</p>
                <input type="text" name="name" class="form-input-control cpmanyw50">
            </div>
            <div class="c companyocf">
                <p class="input-labels">Company name*</p>
                <input type="number" name="name" class="form-input-control cpmanyw50">
            </div>
        </div>
                <div class="idkwhattodo">


            <div class="c companyocf" style="width: 100%;">
                <p class="input-labels">Address*</p>
                <input type="email" name="name" class="form-input-control" style="width: 95%;">
            </div>
        </div>

                <div class="companyformocf">


            <div class="c companyocf" >
                <p class="input-labels">Phone number*</p>
                <input type="text" name="name" class="form-input-control cpmanyw50">
            </div>
            <div class="c companyocf" >
                <p class="input-labels">Email address*</p>
                <input type="number" name="name" class="form-input-control cpmanyw50">
            </div>
        </div>
        <div class="buttonsDone">

            <div style="float: right; justify-content: flex-end;">
                <button type="submit" class="form-submit-btn">Previous</button>
                <button type="submit" class="form-submit-btn">Submit</button>
            </div>
        </div>
    </form>

    <%- include('../partials/footer.ejs') %>
