<%- include('../partials/head.ejs') %>
<title>Tax</title>
<%- include('../partials/body.ejs') %>
<div class="navbar23">

    <div class="prelative">
        <%- include('../partials/navbar.ejs', { currentPage: 'tax' }) %>

    
    </div>
   <div class="topimage">
  
    <div class="column-2">
       <p>Apply for tax Rebate </p>
       <p class="littleheading">Complete the following steps to apply for Tax Rebate</p>
    </div>
    <div class="column-2">
        <p class="hometocontact"> Home > Apply for tax Rebate </p>
    </div>
   </div>
</div>
   <div class="contactrow">
    <div class="contactcolumn">
     
        <form action="">
            <div class="wor" >
            <div class="widthMe"> 
            <p class="input-labels">Name*</p>
            <input type="text" name="name"  class="form-input-control" >
            <p class="input-labels">PPS number*</p>
            <input type="number" name="name"  class="form-input-control" >
            <p class="input-labels">Email ID*</p>
            <input type="email" name="name"  class="form-input-control" >
        </div>
        <div class="widthMe"> 
            <p class="input-labels">Surname*</p>
            <input type="text" name="name"  class="form-input-control" >
            <p class="input-labels">Date of birth*</p>
            <input type="date" name="name"  class="form-input-control" >
            <p class="input-labels">Dependant relatives*</p>
            <input type="text" name="name"  class="form-input-control" >
            
        </div>
      
    </div>
    <input type="checkbox"> <span>I have read & agreed to the authorisation and the <span style="color: #49A16D;"> terms & conditions. </span></span>
<br>
    <button type="submit" class="form-submit-btn">Submit </button>
        </form>
    </div>
    <div class="contactcolumn midd">
        <img class="annoucment" src="images/annoucment.png" alt="">
      
    </div>
   </div>
   <%- include('../partials/footer.ejs') %>
