
<footer>
    <div class="footer-row">
        <div class="footer-column w-30">
            <img src="/images/footerlogo.png" alt="">
            <p class="footertext">Ask Associate is a leading consultancy firm
                that provides simple yet effective company
                registration and accounting solutions to
                enterprises in Ireland.</p>
        </div>
        <div class="footer-column w-10" >
            <p class="footerheading">Explore</p>
            <a href="#" class="footeranchor"><p>Services</p></a>
            <a href="#" class="footeranchor"><p>Contact us</p></a>
        </div> 
         <div class="footer-column w-25">
            <p class="footerheading">Get In Touch</p>
            <p class="footertext">accounting@ask.associates</p>
            <p class="footertext">+1 (416) 902-0308</p>
            <p class="footertext">Mon - Fri: 9am - 6pm</p>
        </div>
        <div class="footer-column w-30" >
           <form action="">
               <input type="email" class="footeremail"  placeholder="Enter your email address">
                <button class="footersubmit">Subscribe</button>
           </form>
           
        </div>
    </div>
    <div class="footerline"></div>
    <p class="footercopyright">© 2023 Ask Associate. All Rights Reserved</p>

   </footer>
   <script src="/javascript/mujtabascript.js"></script>

</body>
</html>